# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Own

# lnd connection files used for testing
*.macaroon
tls.cert

# bbolt DB files that are created when testing with bbolt
*.db
*.db.lock

# VS Code debug file that's created for example when running one of the examples in debug mode
debug
